body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header.tsx */
.headerImg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Tech.txs */
.techBody {
  display: flex;
}

.techBodyLeft,
.techBodyRight {
  flex: 3;
  align-items: center;
  justify-content: center;
}

.techBodyCenter {
  flex: 6;
}
