
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* Header.tsx */
.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 15%;
    font-size: 40px;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top:0px;
    object-fit: cover;
}

/* Tech.txs */
.techBody{
    display: flex;
}

.techBodyLeft, .techBodyRight{
    flex: 3;
    align-items: center;
    justify-content: center;
}

.techBodyCenter{
    flex: 6;
}